<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/webp "access plus 0 seconds"
  ExpiresByType image/jpeg "access plus 0 seconds"
  ExpiresByType image/png "access plus 0 seconds"
</IfModule>

Options All -Indexes
RewriteEngine On

Header set Access-Control-Allow-Origin "*"

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
