/* Dashboard */

.ct-area {
  fill-opacity: .33 !important;
}

.ct-series-a .ct-area,
.ct-series-a .ct-slice-pie {
  fill: #7a6fbe !important;
}

.ct-golden-section {
  overflow: hidden;
}

.ct-line {
  stroke-width: 3px !important;
}

.ct-point {
  stroke-width: 7px !important;
}

/* Calender */
.fc-event {
  border-radius: 2px !important;
  border: none !important;
  cursor: move !important;
  font-size: 0.8125rem !important;
  margin: 5px 7px !important;
}

.fc-day-grid-event .fc-time {
  font-weight: 500 !important;
}

.fc-event .fc-content {
  color: #fff !important;
}

tr:first-child>td>.fc-day-grid-event {
  margin-top: 2px !important;
}

/* Range Slider */
.irs--modern .irs-from:before,
.irs--modern .irs-single:before,
.irs--modern .irs-to:before {
  border-top-color: #626ed4 !important;
}

.irs--modern .irs-line {
  background: #dee2e6 !important;
  border-color: #dee2e6 !important;
}

.irs--modern .irs-max,
.irs--modern .irs-min {
  color: #adb5bd !important;
  background: #f8f9fa !important;
  font-size: 11px !important;
}

.irs--modern .irs-handle>i:nth-child(1) {
  width: 8px !important;
  height: 8px !important;
}

.irs--modern .irs-bar,
.irs--modern .irs-from,
.irs--modern .irs-single,
.irs--modern .irs-to {
  font-size: 11px !important;
}

.irs--modern .irs-grid-text {
  font-size: 11px !important;
  color: #ced4da !important;
}

.irs--modern .irs-handle {
  border: 1px solid #a3adc1;
  border-top-width: 0 !important;
}

.irs--square .irs-line {
  background: #f6f6f6 !important;
  border-color: #f6f6f6 !important;
}

.irs--square .irs-max,
.irs--square .irs-min {
  color: #ced4da !important;
  background: #f6f6f6 !important;
  font-size: 11px !important;
}

.irs--square .irs-bar,
.irs--square .irs-from,
.irs--square .irs-single,
.irs--square .irs-to {
  background: #556ee6 !important;
  font-size: 11px !important;
}

.irs--square .irs-handle {
  border: 2px solid #556ee6 !important;
  width: 12px !important;
  height: 12px !important;
  top: 26px !important;
  background-color: #fff !important;
}

.irs--square .irs-grid-text {
  font-size: 11px;
  color: #ced4da !important;
}

/* Sweet Alert */
.swal2-styled:focus {
  box-shadow: none !important;
}

/* Form Advanced */
.select2-container .select2-selection--single {
  /* background-color: #fff !important;
    border: 1px solid #ced4da !important;
    height: 38px !important; */
}

.select2-container .select2-selection--single:focus {
  outline: none !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  /* line-height: 36px !important;
    padding-left: 12px !important;
    color: #495057 !important; */
}

.select2-container .select2-selection--single .select2-selection__arrow {
  height: 34px !important;
  width: 34px !important;
  right: 3px !important;
}

.select2-container .select2-selection--single .select2-selection__arrow b {
  border-color: #adb5bd transparent transparent transparent !important;
  border-width: 6px 6px 0 6px !important;
}

.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #adb5bd transparent !important;
  border-width: 0 6px 6px 6px !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #f8f9fa !important;
  color: #16181b !important;
}

.select2-container--default .select2-results__option[aria-selected=true]:hover {
  background-color: #626ed4 !important;
  color: #fff !important;
}

.select2-results__option {
  padding: 6px 12px !important;
}

.select2-dropdown {
  border-color: rgba(0, 0, 0, .15) !important;
}

.select2-container .select2-selection--multiple {
  min-height: 38px !important;
  background-color: #fff !important;
  border: 1px solid #ced4da !important;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  padding: 2px 10px !important;
}

.select2-container .select2-selection--multiple .select2-search__field {
  border: 0;
  color: #495057 !important;
}

.select2-container .select2-selection--multiple .select2-search__field::-webkit-input-placeholder {
  color: #495057 !important;
}

.select2-container .select2-selection--multiple .select2-search__field::-moz-placeholder {
  color: #495057 !important;
}

.select2-container .select2-selection--multiple .select2-search__field:-ms-input-placeholder {
  color: #495057 !important;
}

.select2-container .select2-selection--multiple .select2-search__field::-ms-input-placeholder {
  color: #495057 !important;
}

.select2-container .select2-selection--multiple .select2-search__field::placeholder {
  color: #495057 !important;
}

.select2-container .select2-selection--multiple .select2-selection__choice {
  background-color: #e9ecef !important;
  border: 1px solid #dee2e6 !important;
  border-radius: 1px !important;
  padding: 0 7px !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #ced4da !important;
  background-color: #fff !important;
  color: #74788d !important;
  outline: 0 !important;
}

/* color */
.sp-hidden {
  display: none !important;
}

/* Form File Upload */
.dropzone {
  min-height: 230px !important;
  border-style: dashed !important;
  background: transparent !important;
}


/* Chart Chartlist */
.ct-grid {
  stroke: rgba(52, 58, 64, .09) !important;
  stroke-width: 1px;
  stroke-dasharray: 3px !important;
}

.ct-series-c .ct-area,
.ct-series-c .ct-slice-pie {
  fill: #343a40 !important;
}

.ct-series-b .ct-area,
.ct-series-b .ct-slice-pie {
  fill: #f8b425 !important;
}

/* C3 Chart */
.c3 path.domain,
.c3-axis.c3-axis-x line,
.c3-axis.c3-axis-y line {
  stroke: #ced4da !important;
}

.c3-areas-Pageview .c3-area {
  opacity: .2 !important;
}

.c3-legend-item {
  font-size: 14px !important;
}

.c3-chart-arcs-title {
  font-size: 18px !important;
}

/*table responsive*/

.table-rep-plugin .sticky-table-header,
.table-rep-plugin table.focus-on tbody tr.focused td,
.table-rep-plugin table.focus-on tbody tr.focused th {
  background: #7a6fbe !important;
}

.btn-secondary {
  background-color: #7a6fbe !important;
}

.table-rep-plugin .btn-group .btn-default {
  background-color: #2a3142;
  color: #c3c7cd;
  border: 1px solid #bebfc3;
}

.select2-results__option {
  font-weight: none !important;
}


/* Custom Checkbox and Radio Buttons */
.animated-checkbox input[type="checkbox"] {
  display: none;
}

.animated-checkbox input[type="checkbox"]+.label-text {
  cursor: pointer !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.animated-checkbox input[type="checkbox"]+.label-text:before {
  content: "";
  font-family: "FontAwesome";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  width: 1em;
  display: inline-block;
  margin-right: 2px;
  vertical-align: -2px;
}

.animated-checkbox input[type="checkbox"]:checked+.label-text:before {
  content: "";
  color: #009688;
  -webkit-animation: tick 180ms ease-in;
  animation: tick 180ms ease-in;
}

.animated-checkbox input[type="checkbox"]:disabled+.label-text {
  cursor: not-allowed !important;
}

.animated-checkbox input[type="checkbox"]:disabled+.label-text:before {
  content: "";
  color: #ccc;
}

.animated-radio-button input[type="radio"] {
  display: none;
}

.animated-radio-button input[type="radio"]+.label-text {
  cursor: pointer !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.animated-radio-button input[type="radio"]+.label-text:before {
  content: "";
  font-family: "FontAwesome";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  width: 1em;
  display: inline-block;
  margin-right: 2px;
  vertical-align: -2px;
}

.animated-radio-button input[type="radio"]:checked+.label-text:before {
  content: "";
  color: #009688;
  -webkit-animation: tick 180ms ease-in;
  animation: tick 180ms ease-in;
}

.animated-radio-button input[type="radio"]:disabled+.label-text {
  cursor: not-allowed !important;
}

.animated-radio-button input[type="radio"]:disabled+.label-text:before {
  content: "";
  color: #ccc;
}

@-webkit-keyframes tick {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  90% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes tick {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  90% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.toggle.lg input[type="checkbox"]+.button-indecator:before {
  font-size: 30px;
}

.toggle input[type="checkbox"] {
  display: none;
}

.toggle input[type="checkbox"]+.button-indecator {
  cursor: pointer;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.toggle input[type="checkbox"]+.button-indecator:before {
  content: "";
  font-family: "FontAwesome";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 25px;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  margin-right: 5px;
  vertical-align: -2px;
}

.toggle input[type="checkbox"]:checked+.button-indecator:before {
  content: "";
  color: #009688;
  -webkit-animation: toggleBtn 0.3s ease-in-out;
  animation: toggleBtn 0.3s ease-in-out;
}

.toggle input[type="checkbox"]:disabled+.button-indecator {
  cursor: not-allowed !important;
}

.toggle input[type="checkbox"]:disabled+.button-indecator:before {
  color: #ccc;
}

.toggle-flip input[type="checkbox"] {
  display: none;
}

.toggle-flip input[type="checkbox"]+.flip-indecator {
  position: relative;
  width: 60px;
  height: 30px;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-perspective: 90px;
  perspective: 90px;
}

.toggle-flip input[type="checkbox"]+.flip-indecator:before,
.toggle-flip input[type="checkbox"]+.flip-indecator:after {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  line-height: 30px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  border-radius: 3px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.toggle-flip input[type="checkbox"]+.flip-indecator:before {
  content: attr(data-toggle-off);
  background-color: #d9586d;
  color: #fff;
}

.toggle-flip input[type="checkbox"]+.flip-indecator:after {
  content: attr(data-toggle-on);
  background-color: #7a6fbe;
  color: #fff;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.toggle-flip input[type="checkbox"]:checked+.flip-indecator:before {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.toggle-flip input[type="checkbox"]:checked+.flip-indecator:after {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.toggle-flip input[type="checkbox"]:disabled+.flip-indecator {
  cursor: not-allowed !important;
  color: #ccc;
}

@-webkit-keyframes toggleBtn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes toggleBtn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/* Textbox de Solicitudes */
.disabled-checkbox {
  pointer-events: none; /* Evita la interacción del mouse */
  opacity: 0.5; /* Cambia la opacidad para indicar desactivación */
  /* Otros estilos visuales para indicar el estado deshabilitado */
}
#email-editor_ifr {
  background-color: white !important;
}

.tox-tinymce-aux {
  z-index: 2000 !important;
}

.tox .tox-mbtn--active {
  background-color: rgba(121, 184, 255, 0.123) !important;
}

.tox-statusbar__branding {
  display: none;
}


/* Textbox de subpr */
.activity-line-action {
  background-color: rgba(0, 0, 0, 0) !important;
}


table.dataTable.nowrap.child {
  white-space: normal !important;
}

table.dataTable>tbody>tr.child ul.dtr-details {
  white-space: normal;
}



/* dataseacrh*/
@keyframes slideRight {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.dtb-collection-closeable {
  animation: slideRight 0.5s ease-in-out; /* Puedes ajustar la duración y la función de temporización según tus necesidades */
}

/* Agrega estas propiedades para que la animación funcione correctamente */
.dtb-collection-closeable {
  overflow: hidden;
}


.dataTables_length.d-inline-block{
  margin-top: 10px !important;
}

.odd.selected,
.even.selected {
  background-color: #00968762;
}

.dt-buttons.btn-group.flex-wrap {
  margin-bottom: 20px;
}

.dt-buttons{
  float: none !important;
}

.dtsp-countButton i,
.dtsp-nameButton i {
  font-size: 16px;
}

.dtsp-paneButton {
  background-color: #7a6fbe !important;
  color: white !important;
}

#filtrossoldown {
  width: 100% !important;
}

.dtsp-searchIcon {
  
  margin: 0px !important;
  margin-top: 2px !important;
  width: 10% !important;
}

.dtsp-searchIcon.dtsp-paneButton.dtsp-disabledButton {
  margin: 0px !important;
  margin-top: 2px !important;
}
.dtsp-paneInputButton.dtsp-search{
  margin: 0px !important;
}
.dtsp-searchButtonCont {
  display: none;
}


.filtrossoli{
  top: 10% !important;
  width: 100% !important;
  height: 100% !important;
  overflow: auto !important;
  padding: 20px !important;
  position: fixed !important;
  width: 80% !important;
  height: 80% !important;
  left: 10% !important;
  right: 10%;
}

div.dt-button-collection > :last-child{
  margin-top: 20px;
}

@media (max-width:700px) {
  .dtsp-collapseAll, .dtsp-showAll, .dtsp-clearAll{
    float: left !important;
    width: 33%;
  }
  .dtsp-title{
    margin-right: 100%;
    white-space: nowrap;
  }
}

@media (max-width:550px) {
  .dtsp-collapseAll, .dtsp-showAll, .dtsp-clearAll{
    float: left !important;
    width: 100%;
  }
}
/* div.dtsp-verticalContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

div.dtsp-verticalContainer div.dtsp-verticalPanes,
div.dtsp-verticalContainer div.container{
  width: 30%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 0;
}

div.dtsp-verticalContainer div.dtsp-verticalPanes{
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 26%;
}

div.dtsp-verticalPanes {
  margin-right: 20px;
}

div.dtsp-title {
  margin-right: 0px !important;
  margin-top: 13px !important;
}

input.dtsp-search {
  min-width: 0px !important;
  padding-left: 0px !important;
  margin: 0px !important;
}

div.dtsp-verticalContainer div.dtsp-verticalPanes div.dtsp-searchPanes{
  flex-direction: column;
  flex-basis: 0px;
}

div.dtsp-verticalContainer div.dtsp-verticalPanes div.dtsp-searchPanes div.dtsp-searchPane{
  flex-basis: 0px;
}

div.dtsp-verticalContainer div.container{
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 60%;
}

div.dtsp-panesContainer {
  /* border: 1px solid #ccc;
  border-radius: 6px; 
  padding: 5px;
} */

img{
  max-height: 500px !important;
}

/* dataseacrh*/
@keyframes slideRights {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#mensajesscroll {
  animation: slideRights 2s ease-in-out; /* Puedes ajustar la duración y la función de temporización según tus necesidades */
}




.scrollmensajes {
  scroll-behavior: smooth; 
  -webkit-scroll-behavior: smooth; /* Para compatibilidad con WebKit (por ejemplo, Safari) */

}
.etiquetasmsg{
  margin-bottom: 10px;
  }
@media (max-width:370px) {
.etiquetasmsg{
  display:unset !important;
  }
}
.nombremsg{
white-space: nowrap;
}
.datemsg{
  margin-right: 20px !important;
}
.ctext-wrap-content p{
  margin: 0;
}

.chat-user-box p.user-title {
  color:var(--bs-body-color);
  font-weight:500
}
.chat-user-box p {
  font-size:13px
}
@media (max-width:767px) {
  .email-leftbar {
    float:none;
    width:100%
  }
  .email-rightbar {
    margin:0
  }
}
img{
  max-width: 100%;
}





.mail-list a {
  display:block;
  color:var(--bs-body-color);
  line-height:24px;
  padding:6px 5px
}
.mail-list a.active {
  color:#ec536c;
  font-weight:500
}
.message-list {
  display:block;
  padding-left:0
}
.message-list li {
  position:relative;
  display:block;
  height:50px;
  line-height:50px;
  cursor:default;
  -webkit-transition-duration:.3s;
  transition-duration:.3s
}
.message-list li a {
  color:var(--bs-body-color)
}
.message-list li:hover {
  background:var(--bs-tertiary-bg);
  -webkit-transition-duration:50ms;
  transition-duration:50ms
}
.message-list li .col-mail {
  float:left;
  position:relative
}
.message-list li .col-mail-1 {
  width:320px
}
.message-list li .col-mail-1 .checkbox-wrapper-mail,
.message-list li .col-mail-1 .dot,
.message-list li .col-mail-1 .star-toggle {
  display:block;
  float:left
}
.message-list li .col-mail-1 .dot {
  border:4px solid transparent;
  border-radius:100px;
  margin:22px 26px 0;
  height:0;
  width:0;
  line-height:0;
  font-size:0
}
.message-list li .col-mail-1 .checkbox-wrapper-mail {
  margin:15px 10px 0 20px
}
.message-list li .col-mail-1 .star-toggle {
  margin-top:18px;
  margin-left:5px
}
.message-list li .col-mail-1 .title {
  position:absolute;
  top:0;
  left:110px;
  right:0;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
  margin-bottom:0
}
.message-list li .col-mail-2 {
  position:absolute;
  top:0;
  left:320px;
  right:0;
  bottom:0
}
.message-list li .col-mail-2 .date,
.message-list li .col-mail-2 .subject {
  position:absolute;
  top:0
}
.message-list li .col-mail-2 .subject {
  left:0;
  right:200px;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap
}
.message-list li .col-mail-2 .date {
  right:0;
  width:170px;
  padding-left:80px
}
.message-list li.active,
.message-list li.active:hover {
  -webkit-box-shadow:inset 3px 0 0 #7a6fbe;
  box-shadow:inset 3px 0 0 #7a6fbe
}
.message-list li.unread {
  background-color:var(--bs-tertiary-bg);
  font-weight:500;
  color:var(--bs-body-color)
}
.message-list li.unread a {
  color:var(--bs-body-color);
  font-weight:500
}
.message-list .checkbox-wrapper-mail {
  cursor:pointer;
  height:20px;
  width:20px;
  position:relative;
  display:inline-block;
  -webkit-box-shadow:inset 0 0 0 1px #ced4da;
  box-shadow:inset 0 0 0 1px #ced4da;
  border-radius:1px
}
.message-list .checkbox-wrapper-mail input {
  opacity:0;
  cursor:pointer
}
.message-list .checkbox-wrapper-mail input:checked~label {
  opacity:1
}
.message-list .checkbox-wrapper-mail label {
  position:absolute;
  height:20px;
  width:20px;
  left:0;
  cursor:pointer;
  opacity:0;
  margin-bottom:0;
  -webkit-transition-duration:50ms;
  transition-duration:50ms;
  top:0
}
.message-list .checkbox-wrapper-mail label:before {
  content:"\f012c";
  font-family:"Material Design Icons";
  top:0;
  height:20px;
  color:var(--bs-body-color);
  width:20px;
  position:absolute;
  margin-top:-16px;
  left:4px;
  font-size:13px
}
@media (max-width:575.98px) {
  .message-list li .col-mail-1 {
    width:200px
  }
}
.cd-container {
  width:90%;
  max-width:1170px;
  margin:0 auto
}
.cd-container::after {
  content:"";
  display:table;
  clear:both
}
@media only screen and (max-width:1170px) {
  #cd-timeline {
    margin-bottom:2em;
    margin-top:2em;
    padding:2em 0;
    position:relative
  }
  #cd-timeline::before {
    border-left:3px solid var(--bs-border-color);
    content:"";
    height:100%;
    left:18px;
    position:absolute;
    top:0;
    width:3px
  }
  .cd-timeline-img {
    top:10px!important
  }
}
@media only screen and (min-width:1170px) {
  #cd-timeline {
    margin-bottom:3em;
    margin-top:3em
  }
  #cd-timeline::before {
    left:50%;
    margin-left:-2px
  }
}
.cd-timeline-block {
  margin:2em 0;
  position:relative
}
.cd-timeline-block:after {
  clear:both;
  content:"";
  display:table
}
.cd-timeline-block:first-child {
  margin-top:0
}
.cd-timeline-block:last-child {
  margin-bottom:0
}
@media only screen and (min-width:1170px) {
  .cd-timeline-block {
    margin:4em 0
  }
  .cd-timeline-block:first-child {
    margin-top:0
  }
  .cd-timeline-block:last-child {
    margin-bottom:0
  }
  .timeline-right::before {
    content:"";
    position:absolute;
    width:300px;
    height:3px;
    background:var(--bs-tertiary-bg);
    left:50%;
    top:150px;
    -webkit-transform:translateX(-50%) rotate(35deg);
    transform:translateX(-50%) rotate(35deg)
  }
  .timeline-left::before {
    content:"";
    position:absolute;
    width:300px;
    height:3px;
    background:var(--bs-tertiary-bg);
    left:50%;
    top:150px;
    -webkit-transform:translateX(-50%) rotate(-35deg);
    transform:translateX(-50%) rotate(-35deg)
  }
}
.cd-timeline-img {
  position:absolute;
  top:20px;
  left:0;
  width:40px;
  height:40px;
  border-radius:50%;
  text-align:center;
  line-height:30px;
  font-size:20px;
  color:#fff;
  background-color:#7a6fbe;
  border:5px solid var(--bs-border-color)
}
.cd-timeline-img i {
  margin-left:1px
}
@media only screen and (min-width:1170px) {
  .cd-timeline-img {
    width:40px;
    height:40px;
    line-height:32px;
    left:50%;
    margin-left:-20px;
    top:130px;
    -webkit-transform:translateZ(0);
    -webkit-backface-visibility:hidden
  }
}
.cd-timeline-content {
  border-radius:5px;
  background:var(--bs-tertiary-bg);
  margin-left:60px;
  padding:1em;
  position:relative
}
.cd-timeline-content:after {
  clear:both;
  content:"";
  display:table
}
.cd-timeline-content h2 {
  margin-top:0
}
.cd-timeline-content .cd-read-more {
  background:#7a6fbe;
  border-radius:.25em;
  color:#fff;
  display:inline-block;
  float:right;
  font-size:14px;
  padding:.8em 1em
}
.cd-timeline-content .cd-date {
  display:inline-block;
  font-size:14px
}
.cd-timeline-content h3 {
  font-size:16px;
  margin:0 0 15px 0
}
.cd-timeline-content .cd-date {
  float:left;
  padding:.8em 0;
  opacity:.7
}
.cd-timeline-content::before {
  content:"";
  position:absolute;
  top:16px;
  right:100%;
  height:0;
  width:0;
  border:12px solid transparent;
  border-right:12px solid var(--bs-border-color)
}
@media only screen and (min-width:1170px) {
  .cd-timeline-content {
    margin-left:0;
    padding:1.6em;
    width:36%
  }
  .cd-timeline-content::before {
    top:24px;
    left:100%;
    border-color:transparent;
    border-left-color:var(--bs-tertiary-bg)
  }
  .cd-timeline-content .cd-read-more {
    float:left
  }
  .cd-timeline-content .cd-date {
    position:absolute;
    width:100%;
    left:108%;
    top:16px
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float:right
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top:24px;
    left:auto;
    right:100%;
    border-color:transparent;
    border-right-color:var(--bs-tertiary-bg)
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float:right
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left:auto;
    right:106%;
    text-align:right
  }
}
.directory-card {
  overflow:hidden
}
.directory-card .directory-bg {
  background-image:url(../images/directory-bg.jpg);
  background-size:cover;
  background-position:center center
}
.directory-card .directory-overlay {
  background-color:rgba(var(--bs-primary-rgb),.7);
  padding:20px
}
.directory-card img {
  position:relative;
  top:60px
}
@media (min-width:1200px) {
  .chat-leftsidebar {
    min-width:380px
  }
}
@media (min-width:992px) and (max-width:1199.98px) {
  .chat-leftsidebar {
    min-width:290px
  }
}
.search-box .form-control {
  border-radius:30px;
  padding-left:40px
}
.search-box .search-icon {
  font-size:18px;
  position:absolute;
  left:13px;
  top:0;
  color:var(--bs-gray-600);
  line-height:34px
}
.chat-noti-dropdown {
  position:relative;
  z-index:2
}
.chat-noti-dropdown.active:before {
  content:"";
  position:absolute;
  width:8px;
  height:8px;
  background-color:#ec536c;
  border-radius:50%;
  right:0
}
.chat-noti-dropdown .btn {
  padding:6px;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:var(--bs-gray-600)
}
.chat-message-list {
  height:calc(100vh - 346px)
}
@media (min-width:992px) {
  .chat-message-list {
    height:calc(100vh - 600px)
  }
}
.chat-search-box .form-control {
  border:0
}
.chat-user-status {
  position:relative;
  margin-top:-25px
}
.chat-user-status .status {
  width:12px;
  height:12px;
  background-color:#58db83;
  border-radius:50%;
  border:2px solid var(--bs-border-color);
  position:absolute;
  left:35px;
  right:0;
  margin:0 auto;
  bottom:0
}
.chat-list {
  margin:0
}
.chat-list .active {
  background:#7a6fbe;
  border-radius:.75rem!important
}
.chat-list .active h5 {
  color:#fff
}
.chat-list li a {
  position:relative;
  display:block;
  padding:12px 12px;
  color:#2a3142;
  -webkit-transition:all .4s;
  transition:all .4s;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  font-size:13px
}
.chat-list li .user-img {
  position:relative
}
.chat-list li .user-img .user-status {
  width:10px;
  height:10px;
  background-color:#adb5bd;
  border-radius:50%;
  border:2px solid var(--bs-border-color);
  position:absolute;
  right:3px;
  bottom:0
}
.chat-list li .user-img.online .user-status {
  background-color:#58db83
}
.chat-list li .user-img.away .user-status {
  background-color:#f5b225
}
.chat-list li.unread a {
  font-weight:600;
  color:#2a3142
}
.chat-list li .unread-message {
  position:absolute;
  display:inline-block;
  right:16px;
  top:33px
}
.group-list li a {
  border:0
}
.user-chat-nav .dropdown .nav-btn {
  height:36px;
  width:36px;
  line-height:36px;
  -webkit-box-shadow:none;
  box-shadow:none;
  padding:0;
  font-size:16px;
  border-radius:50%;
  color:var(--bs-gray-600)
}
.contact-list {
  font-size:12px;
  text-transform:uppercase;
  color:var(--bs-secondary-color);
  font-weight:600
}
.chat-conversation {
  height:calc(100vh - 300px)
}
@media (min-width:992px) {
  .chat-conversation {
    height:calc(100vh - 400px)
  }
}
.chat-conversation li {
  clear:both
}
.chat-conversation .chat-day-title {
  position:relative;
  text-align:center;
  margin-bottom:24px;
  border:none
}
.chat-conversation .chat-day-title .title {
  display:inline-block;
  background-color:var(--bs-light);
  position:relative;
  z-index:1;
  padding:4px 16px;
  border-radius:7px
}
.chat-conversation .chat-day-title:before {
  content:"";
  position:absolute;
  width:100%;
  height:1px;
  left:0;
  right:0;
  background-color:var(--bs-border-color);
  top:13px
}
.chat-conversation .chat-day-title .badge {
  font-size:12px
}
.chat-conversation .chat-avatar {
  text-align:center
}
.chat-conversation .chat-avatar img {
  width:32px;
  height:32px;
  border-radius:50%
}
.chat-conversation .chat-avatar .time {
  font-size:12px;
  color:var(--bs-secondary-color);
  font-weight:500;
  margin-top:4px
}
.chat-conversation .conversation-list {
  margin-bottom:24px;
  position:relative
}
@media (min-width:992px) {
  .chat-conversation .conversation-list {
    max-width:100%
  }
}
.chat-conversation .conversation-list .ctext-wrap {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  margin-bottom:20px
}
.chat-conversation .conversation-list .ctext-wrap-content {
  padding:15px 20px;
  background-color:var(--bs-tertiary-bg);
  border-radius:0 10px 10px 10px;
  color:var(--bs-secondary-color);
  position:relative;
  width: 100%;
}
.chat-conversation .conversation-list .conversation-name .time {
  font-size:14px;
  bottom:0;
  color:var(--bs-secondary-color);
  font-weight:400
}
.chat-conversation .conversation-list .conversation-name .user-name {
  color:rgba(255,255,255,.5)
}
.chat-conversation .conversation-list:hover .time {
  opacity:1
}
.chat-conversation .conversation-list .dropdown .dropdown-toggle {
  font-size:18px;
  padding:4px;
  color:#6c757d
}
@media (max-width:575.98px) {
  .chat-conversation .conversation-list .dropdown .dropdown-toggle {
    display:none
  }
}
.chat-conversation .conversation-list .chat-time {
  font-size:12px;
  margin-top:4px;
  text-align:right;
  color:rgba(255,255,255,.5)
}
.chat-conversation .conversation-list .message-img {
  position:relative;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:start;
  -ms-flex-align:start;
  align-items:flex-start;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  gap:10px
}
.chat-conversation .conversation-list .message-img .message-img-list {
  position:relative
}
.chat-conversation .conversation-list .message-img img {
  max-width:80px
}
.chat-conversation .right {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:end;
  -ms-flex-pack:end;
  justify-content:flex-end
}
.chat-conversation .right .conversation-list {
  text-align:right
}
.chat-conversation .right .conversation-list .ctext-wrap .ctext-wrap-content {
  -webkit-box-ordinal-group:3;
  -ms-flex-order:2;
  order:2;
  background-color:#7a6fbe;
  text-align:right;
  border-radius:10px 0 10px 10px;
  color:#fff;
  margin-left:0
}
.chat-conversation .right .conversation-list .ctext-wrap .ctext-wrap-content:before {
  border:5px solid transparent;
  border-top-color:#7a6fbe;
  border-left-color:#7a6fbe;
  left:auto;
  right:-10px
}
.chat-conversation .right .conversation-list .ctext-wrap .conversation-name {
  -webkit-box-pack:end;
  -ms-flex-pack:end;
  justify-content:flex-end
}
.chat-conversation .right .conversation-list .ctext-wrap .conversation-name .time {
  -webkit-box-ordinal-group:2;
  -ms-flex-order:1;
  order:1;
  margin-left:0;
  margin-right:8px;
  position:absolute;
  right:-58px;
  left:auto
}
.chat-conversation .right .conversation-list .ctext-wrap .conversation-name .user-name {
  color:#2a3142;
  -webkit-box-ordinal-group:3;
  -ms-flex-order:2;
  order:2
}
.chat-conversation .right .conversation-list .dropdown {
  -webkit-box-ordinal-group:2;
  -ms-flex-order:1;
  order:1
}
.chat-conversation .right .conversation-list .chat-avatar {
  -webkit-box-ordinal-group:4;
  -ms-flex-order:3;
  order:3
}
.chat-input-section {
  border-top:1px solid var(--bs-border-color)
}
.chat-input {
  background-color:var(--bs-light)!important;
  border-color:var(--bs-light)!important
}
@media (max-width:575.98px) {
  .chat-send {
    min-width:auto
  }
}
body[data-layout=horizontal] .chat-message-list {
  height:calc(100vh - 346px)
}
@media (min-width:992px) {
  body[data-layout=horizontal] .chat-message-list {
    height:calc(100vh - 475px)
  }
}
body[data-layout=horizontal] .chat-conversation {
  height:calc(100vh - 300px)
}
@media (min-width:992px) {
  body[data-layout=horizontal] .chat-conversation {
    height:calc(100vh - 311px)
  }
}
@media (min-width:992px) {
  .small-chat .conversation-list {
    max-width:90%
  }
}


.avatar-xs {
  height:2rem;
  width:2rem
}
.avatar {
  height:2.6rem;
  width:2.6rem
}
.avatar-sm {
  height:3rem;
  width:3rem
}
.avatar-md {
  height:4.5rem;
  width:4.5rem
}
.avatar-lg {
  height:6rem;
  width:6rem
}
.avatar-xl {
  height:7.5rem;
  width:7.5rem
}
.avatar-title {
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  font-weight:500;
  height:100%;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  width:100%;
  border:2px solid
}
.avatar-group {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  padding-left:8px
}
.avatar-group .avatar-group-item {
  margin-left:-8px;
  border:2px solid var(--bs-border-color);
  border-radius:50%;
  -webkit-transition:all .2s;
  transition:all .2s
}
.avatar-group .avatar-group-item:hover {
  position:relative;
  -webkit-transform:translateY(-2px);
  transform:translateY(-2px)
}

#loadingModal{
  z-index: 2000 !important;
  background-color: #2b383d50;
}

.modal-xl{
  max-width: 90% !important;
}